body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f6f5f5;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}


.greek {
    background-color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 300px;
    height: 80px;
}

.fonema {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 30px;
}
.spanish {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 30px;
}

.button {
    background-color: #797979;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 300px;
    height: 80px;
}
